body {
  background-image: url('/static/img/background.jpg');
  height: 100%;
  width: 100%;
}

.page {
  border: 2px solid FireBrick;
  background-color: beige;
  width: 80%;
  height: 75vh;
  overflow-y: scroll;
  border: 5px solid black;
  border-radius: 5px;
}

.headerBack {
  background-image: url('/static/img/background.jpg');
  border: 2px solid black;
  border-radius: 15px;
  margin-bottom: 50px;
}

.header {
  background-color: beige;
  border: 1px solid black;
  opacity: 0.6;
}

.header h1 {
  color: #000000;
  font-weight: bold;
}
