{% extends "layout.html" %}
{% block body %}
<h2>Select Recipe to Edit or Delete</h2>
<form style="width:50%" action="{{ url_for('deleteRecipes') }}" method=post enctype="multipart/form-data">
<table>
  <thread>
    <th style="width:30%" ></th>
    <th style="width:30%" ></th>
    <th style="width:30%" ></th>
  </thread>
  <tbody>
    {% set counter = 0 %}
    {% for recipe in recipes %}
      {% if loop.index % 4 == 0 %}
        <tr>
          <td>
            <p>{{recipe.name}}</p>
            <div>
              <img style="cursor:pointer;" onclick=window.location.href="{{ url_for('changeRecipe', recipeID=recipe.id)}}" src="static/pictures/{{recipe.file}}" height="100" width="100">
              <input type=checkbox value={{recipe.id}} name=recipe><br><br><br>
            </div>
          </td>
          {% set counter = counter + 1 %}
      {% elif loop.index % 4 == 3 %}
          <td>
            <p>{{recipe.name}}</p>
            <div>
              <img style="cursor:pointer;" onclick=window.location.href="{{ url_for('changeRecipe', recipeID=recipe.id)}}" src="static/pictures/{{recipe.file}}" height="100" width="100">
              <input type=checkbox value={{recipe.id}} name=recipe><br><br><br>
            </div>
          </td>
        </tr>
        {% set counter = 0 %}
      {% else %}
        <td>
          <p>{{recipe.name}}</p>
          <div>
            <img style="cursor:pointer;" onclick=window.location.href="{{ url_for('changeRecipe', recipeID=recipe.id)}}" src="static/pictures/{{recipe.file}}" height="100" width="100">
            <input type=checkbox value={{recipe.id}} name=recipe><br><br><br>
          </div>
        </td>
        {% set counter = counter + 1 %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<button type=submit class="btn btn-danger">Delete Recipes</button>
{% endblock %}
