{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/testConfig.js') }}"></script>
<center>
<h3>Creating Recipe for {{name}}</h3>
<img src="static/temp/{{pic}}" height="100" width="100">
<form action="{{ url_for('addRecipeToDB', name=name) }}" method=post enctype="multipart/form-data">

  <table class="table table-striped">
    <thread>
      <th>Ingredient</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Measurement</th>
    </thread>
    <tbody>
      {% for item in items %}
        <tr>
          <td><input name="items" value="{{item}}" placeholder="{{item}}" readonly></td>
          <td>
            {% set tname = item + 't' %}
            <select name="{{tname}}">
              {% for t in types %}
                <option value="{{t}}">{{t}}</option>
              {% endfor %}
            </select>
          </td>
          {% set qname = item + 'q' %}
          <td><input name="{{qname}}" type="number" step="0.01" required/></td>
          <td>
            {% set name = item + 'm' %}
            <select name="{{name}}">
              {% for m in measurements %}
                <option value="{{m}}">{{m}}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      {% endfor %}
  </table>
  <input name="recipeDesc" placeholder="What's the recipe dog?" type="text"/>
  <button type=submit class="btn btn-primary">Create Recipe</button>
</form>
</center>
{% endblock %}
