{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='js/testConfig.js') }}"></script>
<center>
  <form action="{{ url_for('finalizeShoppingList') }}" method=post enctype="multipart/form-data">
  <h2>Finalize Your Shopping List</h2>
  <h4><em>Remove Any Items You Already Have</em></h4><br>
  {% for type in recipeList %}
    <h2>{{type.upper()}}</h2>
    <table class="table table-striped">
      <thread>
        <th style="width:20%">Name</th>
        <th style="width:20%">Quantity</th>
        <th style="width:5%">Measurement</th>
        <th style="width:5%">Already Own</th>
      </thread>
        <tbody>
          {% for item in recipeList[type] %}
            <tr>
              <td>{{item.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.measurement}}</td>
              <td><input type=checkbox value={{item.id}} name={{type}}></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  {% endfor %}
  <h4><em>Give Your Shopping List a Cool Name</em></h4><br>
  <input type="text" class="form-control" id="title" name="name" required>
  <button style="margin-bottom:10px" type=submit class="btn btn-primary">Finalize List</button>
</form>
</center>
{% endblock %}
