{% extends "layout.html" %}
{% block body %}
<h2>Let's Get Started!</h2>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Create a New Recipe</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('addRecipe') }}'">Add Recipe</button></div>
  </div>
</div>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-success">
    <div class="panel-heading">Create a New Shopping List</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('startShoppingList') }}'">Create a Shopping List</button></div>
  </div>
</div>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-danger">
    <div class="panel-heading">Edit or Delete a Recipe</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('editRecipe') }}'">Edit Recipe</button></div>
  </div>
</div>
<div style="margin:15px; width: 60%" class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">Open a Shopping List</div>
    <div class="panel-body"><button class='btn btn-primary' onclick="window.location.href='{{ url_for('readList') }}'">Shopping Lists</button></div>
  </div>
</div>

{% endblock %}
