<!doctype html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mycss.css') }}">
<div class=headerBack>
  <div class=header>
    <h1 style="cursor:pointer" onclick=window.location.href="{{ url_for('landing')}}">Shopping Center</h1>
  </div>
</div>
<center>
<div class=page>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
    {% block body %}
    {% endblock %}
</div>
</center>
